* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.box1 {
  /* background-color: red; */
  padding: 20px 50px 70px;
  width: 100%;
  /* height: 100vh; */
  background: url(./images/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  /* display: flex; */
}
.head {
  display: flex;
  justify-content: space-between;
}
.h1 {
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}
nav {
  display: flex;
  color: white;
  gap: 15px;
}
.immersive {
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  font-weight: lighter;
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid white;
  width: 30%;
  letter-spacing: 5px;
  /* font-stretch: ultra-expanded; */
  margin-top: 50px;
  padding: 20px;
}
.mobilevr {
  display: none;
}
.box2 {
  display: flex;
  padding: 50px;
}
.man {
  height: 500px;
  width: 100%;
  /* position: relative; */
}
.img {
  position: relative;
}
.body {
  /* background-color: red; */
  width: 100%;
  line-height: 30px;
  padding-top: 50px;
}
.text {
  /* height: 100vh; */
  right: 100px;
  /* top: 500px; */
  bottom: -300px;
  /* height: 50vh; */
  z-index: 5;
  padding: 50px;
  width: 50%;
  background-color: white;
  position: absolute;
}
.see {
  float: right;
  background-color: white;
  width: 200px;
  /* justify-content: space-between; */
}
#buttons {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  width: 100%;
}
.grids {
  display: grid;
  gap: 20px;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 700px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  padding-bottom: 70px;
}
/* .item1 { */
/* background-color: red; */
/* } */
#one {
  background: url(./images/desktop/image-deep-earth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#two {
  background: url(./images/desktop/image-night-arcade.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#three {
  background: url(./images/desktop/image-soccer-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#four {
  background: url(.//images/desktop/image-grid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#five {
  background: url(./images/desktop/image-from-above.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#six {
  background: url(./images/desktop/image-pocket-borealis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#seven {
  background: url(./images/desktop/image-curiosity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#eight {
  background: url(./images/desktop/image-fisheye.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#pics {
  color: white;
  padding: 10px;
  margin-top: 100%;
  /* bottom: 5px; */
  /* position: bottom; */
  text-align: center;
}
.black {
  background-color: black;
  padding-top: 0px;
  padding: 50px 100px;
  margin-top: 250px;
}

.loop {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.bottom {
  display: flex;
  gap: 10px;
  color: white;
}
.bbb {
  display: flex;
  justify-content: space-between;
}
.end {
  color: white;
}
.support {
  display: none;
}
.ham {
  display: none;
}
.copyright {
  display: none;
}
.phone {
  display: none;
}
@media screen and (min-width: 300px) and (max-width: 50px) {
  body {
    width: 100%;
  }
  /* .phone { */
  /* display: flex; */
  /* } */
  .box1 {
    background: url(./images/mobile/image-hero.jpg);
    width: 100%;
  }
  .ham {
    display: flex;
  }
  .about {
    display: none;
  }
  .immersive {
    /* color: red; */
    /* background-color: green; */
    width: 100%;
    font-size: 30px;
    /* margin-right: 50px; */
    /* padding: 50px; */
    /* padding-right: 70px; */
  }
  .man {
    display: none;
  }
  .mobilevr {
    display: flex;
    width: 100%;
    padding-right: 50px;
  }
  .box2 {
    display: block;
  }
  #leader {
    /* background-color: yellowgreen; */
    width: 100%;
    font-size: 25px;
  }
  .text {
    /* background-color: purple; */
    position: static;
    width: 100%;
    padding: 0px;
    text-align: center;
  }
  .see {
    display: none;
  }
  #buttons {
    /* background-color: yellow; */
    text-align: center;
    justify-content: center;
    /* letter-spacing: 5px; */
    font-size: 30px;
  }
  .grids {
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* background-color: red; */
    height: 300px;
  }
  #one {
    background: url(./images/mobile/image-deep-earth.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #two {
    background: url(./images/mobile/image-night-arcade.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #three {
    background: url(./images/mobile/image-soccer-team.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #four {
    background: url(.//images/mobile/image-grid.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #five {
    background: url(./images/mobile/image-from-above.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #six {
    background: url(./images/mobile/image-pocket-borealis.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #seven {
    background: url(./images/mobile/image-curiosity.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #eight {
    background: url(./images/mobile/image-fisheye.jpg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  #pics {
    /* background-color: brown; */
    margin-top: 20%;
    /* background-color: tan; */
    /* width: 100%; */
    font-size: 20px;
  }
  .black {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* bottom: 0px; */
    margin-top: 700px;
    width: 100%;
    padding: 0px;
  }
  .logos {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* background-color: olivedrab; */
    margin-left: 25%;
  }

  .images {
    display: none;
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    /* text-align: center; */
    flex-direction: column;
    /* background-color: goldenrod; */
  }
  .support {
    display: block;
  }
  .end {
    display: none;
  }
  .phone {
    display: block;
    margin-left: 35%;
    margin-top: 20px;
  }
  .copyright {
    display: block;
    color: white;
    text-align: center;
    margin-top: 20px;
  }
}
